*.DS_Store
/emacs/Haoyang.el
emacs/.emacs.d/elpa
emacs/.emacs.d/backups
emacs/.emacs.d/recentf
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/projectile-bookmarks.eld
.sync/
/emacs/bookmarks
emacs/pyim
emacs/url
emacs/test
emacs/.org-id-locations
creds/*

news/.config/newsbeuter/cache.db
